.ant-table-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.chat-container {
  margin: 80px 50px;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

.open-chat-button {
  position: fixed;
  right: -70px;
  top: 50%;
  font-size: 16px;
  transform: rotate(270deg);
}

.chat-messages {
  height: calc(100% - 55px);
  overflow: scroll;
}

.chat-input {
  padding: 5px;
}

#user-message-block {
  padding: 5px;
}

#user-name {
  font-size: 10px;
  margin: 0;
  padding-left: 5px;
}

#user-message {
  background: #117788;
  color: white;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
}

#admin-message-block {
  padding: 5px;
}

#admin-name {
  font-size: 10px;
  margin: 0;
  padding-left: 5px;
}

#admin-message {
  background: white;
  border-radius: 12px;
  width: fit-content;
  padding: 3px 10px;
}

#admin-message p,
#user-message p {
  margin: 0;
}